<!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      {% load static %}
      <meta charset="utf-8">
      <meta name="description" content="Maintain Courses">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" rel="stylesheet" />

      <!-- The line above tells Django to be ready to listen for static files -->
      <!-- <link rel="stylesheet" href="{% static 'ourApp/css/main.css' %}"> -->
      <!-- Put the static files in the static folder inside your app.
           Django collects files within all static folders and puts them within a single folder -->
      <title>{% block title %}Default{% endblock %}</title>
    </head>
    <body>
      <div class='container'>
        <div class='row'>
          <div class='col-md-8'>
            <h1>Administration</h1>
          </div>
          <div class='col-md-1'>
            <a class='btn btn-primary' href="{% url 'userprofiles:success' %}">Dashboard</a>
          </div>
          <div class='col-md-1'>
            <a class='btn btn-primary' href="{% url 'userprofiles:logout' %}">Profile</a>
          </div>
          <div class='col-md-1'>
            <a class='btn btn-primary' href="{% url 'userprofiles:logout' %}">Logout</a>
          </div>
        </div>
        <div>
      {% block main %}
        <h1>Securities error</h1>
      {% endblock %}
    </div>
    </body>
  </html>
